/*
HERO
*/
.hero-antecipacao {
  position: relative;
  background: var(--blue);
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 2rem 0;
}
.hero-antecipacao .row {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 5rem;
  align-items: center;
}
.hero-antecipacao .content ul.checked-list {
  margin-bottom: 3rem;
}
.hero-antecipacao .content ul.checked-list li {
  font-family: 'Poppins';
  color: var(--white);
  font-weight: var(--font-regular);
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
.hero-antecipacao .content ul.checked-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 2rem;
  height: 2rem;
  background-image: url('../public/icon-check.png');
  background-size: cover;
}
.hero-antecipacao .section-image img {
  width: auto;
  max-width: 100%;
  height: auto;
}
/*
END HERO
*/
/*
ANTECIPE
*/
.antecipe {
  padding: 3rem 0;
}
.antecipe .subtitle {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: var(--black);
  text-align: center;
}
.antecipe .boxes {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
  position: relative;
}

.antecipe .boxes::before {
  content: '';
  width: calc((25rem * 2) + (6rem * 2));
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  border-top: 2px dashed black;
}

.antecipe .boxes .box::before {
  content: '';
  width: 2px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: -25px;
  border-left: 2px dashed black;
}

.antecipe .boxes .box {
  position: relative;
  width: 25rem;
  flex-direction: column;
  display: flex;
  justify-items: center;
  align-items: center;
}
.antecipe .boxes .box .icone {
  width: 9rem;
  height: auto;
  margin-bottom: 2rem;
  filter: var(--shadow);
}
.antecipe .boxes .box h3 {
  text-align: center;
}
.antecipe .boxes .box p {
  color: var(--blue);
  text-align: center;
}
/*
END ANTECIPE
*/
/*
DESTAQUES
*/
.destaques .row {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 2.5rem));
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 3rem;
}
.destaques h2 {
  text-align: left;
}
.destaques h2::before {
  left: 0;
  transform: translateX(0);
}
.destaques h2::after {
  left: 0;
  transform: translateX(0);
}
.destaques p {
  color: var(--blue);
}
.destaques .section-image {
  margin: 0 auto;
}
.destaques .section-image img {
  max-width: 100%;
  height: auto;
}
/*
END DESTAQUES
*/
/*
VIDEO-SOBRE
*/
.video-sobre-antecipacao {
  background: var(--light-gray);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20rem auto;
  padding: 5rem 0;
}
.video-sobre-antecipacao .row {
  width: 70rem;
  margin: 0 auto;
}
/*
END VIDEO-SOBRE
*/


@media (max-width: 992px) {
  .destaques .row {
    width: 100%;
  }
  .antecipe .subtitle {
    width: 60%;
  }
  .antecipe .boxes .box {
    width: 20rem;
  }
  .antecipe .boxes::before {
    width: calc((20rem * 2) + (6rem * 2));
  }
}
@media (max-width: 768px) {
  .hero-antecipacao .row {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .hero-antecipacao .content h1 {
    text-align: center;
  }
  .hero-antecipacao .content p {
    width: 100%;
    text-align: center;
  }
  .antecipe .subtitle {
    width: 80%;
  }
  .hero-antecipacao .content .btn-green {
    margin: 0 auto;
  }
  .destaques .row {
    width: 80%;
    grid-template-columns: 1fr;
  }
  .destaques .content {
    order: 1;
  }
  .destaques .section-image {
    order: 2;
  }
  .antecipe .boxes .box:first-child::before {
    display: none;
  }
  .antecipe .boxes {
    gap: 4rem;
  }
  .antecipe .boxes .box::before {
    height: 35px;
    top: -40px;
  }
  .antecipe .boxes::before {
    display: none;
  }
  .antecipe .boxes .box {
    width: 25rem;
  }
  .video-sobre-antecipacao .row {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .hero-antecipacao .content ul.checked-list li {
    font-size: 1.3rem;
  }
  .destaques h2 {
    font-size: 2.5rem;
  }
  .video-sobre-antecipacao {
    background-position: -20% center;
  }
}
@media (max-width: 400px) {
  .destaques h2 {
    font-size: 2.4rem;
  }
}
