/* 
BROWSER RESET 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  filter: brightness(0.9);
  transform: scale(0.98);
}
ul {
  list-style: none;
}
/* 
END BROWSER RESET 
*/
/* 
CSS VARIABLES 
*/
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  --white: #ffffff;
  --black: #000000;
  --light-gray: #f6f6f7;
  --gray: #b7b7b7;
  --blue: #170e47;
  --green: #3bff72;

  --shadow: drop-shadow(0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4));

  --pop: 'Poppins';
  --nun: 'Nunito';

  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
}
/*
END CSS VARIABLES
*/
body {
  position: relative;
  background: var(--white);
}
h1 {
  font-family: var(--pop);
  font-weight: var(--font-light);
  color: var(--white);
  font-size: 4rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
h2 {
  position: relative;
  font-family: var(--pop);
  font-weight: var(--font-light);
  color: var(--blue);
  font-size: 3rem;
  text-align: center;
  line-height: 1.3;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
}
h2 span {
  color: var(--green);
  font-weight: var(--font-bold);
}
h2::before {
  content: '';
  width: 25rem;
  height: 0.3rem;
  background-color: var(--gray);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0rem;
}
h2::after {
  content: '';
  width: 9rem;
  height: 0.6rem;
  background-color: var(--green);
  position: absolute;
  left: calc(50% - 9rem);
  transform: translateX(-50%);
  bottom: -0.2rem;
}
h3 {
  font-family: var(--nun);
  font-weight: var(--font-bold);
  font-size: 1.7rem;
  color: var(--blue);
  line-height: 1.3;
  margin-bottom: 1rem;
}
p {
  font-size: 1.5rem;
  color: var(--white);
  font-family: var(--nun);
  font-weight: var(--font-regular);
  line-height: 1.7;
  margin-bottom: 2rem;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.row {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
.btn-green {
  background-color: var(--green);
  color: var(--blue);
  font-family: var(--nun);
  font-weight: var(--font-regular);
  border-radius: 5rem;
  padding: 1.1rem 3rem;
  font-size: 1.5rem;
  width: fit-content;
}
/*
HEADER
*/
header.menu {
  top: 0;
  right: 0;
  width: 100%;
  background: var(--blue);
  padding: 2rem;
  z-index: 10;
  box-sizing: border-box;
}
header.menu .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.menu a.logo img {
  height: 5rem;
}
header.menu nav ul {
  display: flex;
  align-items: center;
  gap: 6rem;
}
header.menu nav li a {
  font-family: var(--nun);
  font-weight: var(--font-regular);
  font-size: 1.3rem;
  color: var(--white);
  padding: 0.5rem;
}
header.menu nav li .btn-green {
  color: var(--blue);
  padding: 0.8rem 3rem;
}
header.menu .btn-mobile-menu {
  display: none;
}
/*
END HEADER
*/
/*
HERO
*/
.hero {
  position: relative;
  background: var(--blue);
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
}
.hero .row {
  display: grid;
  grid-template-columns: 60% 1fr;
  align-items: center;
}
.hero .content p {
  width: 70%;
}
.hero .content .btn-green {
  margin-bottom: 2rem;
}
.hero .floating-button {
  position: absolute;
  bottom: 0;
  width: 20rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--white);
  height: 10rem;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 10;
}

.hero .floating-button span {
  font-family: var(--nun);
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: var(--blue);
  white-space: nowrap;
}
.hero .floating-button span img {
  height: 1.5rem;
  animation: arrowFloatingButton 1s ease-out infinite;
}
@keyframes arrowFloatingButton {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.3rem);
  }
  100% {
    transform: translateY(0);
  }
}
.hero .section-image {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  position: relative;
}
.hero .section-image .icon-dollar {
  position: absolute;
  width: 6rem;
  filter: var(--shadow);
}
.hero .section-image .icon-dollar-1 {
  top: 22%;
  left: 16%;
  animation: floatingDollar1 5s ease-in-out infinite;
}
@keyframes floatingDollar1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hero .section-image .icon-dollar-2 {
  top: 37%;
  left: 66%;
  animation: floatingDollar2 7s ease-in-out infinite;
}
@keyframes floatingDollar2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hero .section-image img {
  width: auto;
  max-width: 100%;
  height: auto;
}
/*
END HERO
*/
/*
PORQUE
*/
.porque {
  padding: 3rem 0;
}
.porque .boxes {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
}
.porque .boxes .box {
  width: 25rem;
  flex-direction: column;
  display: flex;
  justify-items: center;
  align-items: center;
}

.porque .boxes .box .icone {
  width: 7rem;
  margin-bottom: 2rem;
  filter: var(--shadow);
}
.porque .boxes .box h3 {
  text-align: center;
}
.porque .boxes .box p {
  color: var(--blue);
  text-align: center;
}
/*
END PORQUE
*/
/*
MODERNIZE
*/
.modernize {
  padding: 5rem 0;
}
.modernize .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6rem;
}
.modernize .section-image {
  position: relative;
  z-index: 1;
}

.modernize .section-image img {
  filter: var(--shadow);
  width: auto;
  max-width: 100%;
  height: auto;
}
.modernize h2 {
  text-align: start;
}
.modernize h2::after,
.modernize h2::before {
  left: 0;
  transform: translateX(0);
}
.modernize p {
  color: var(--blue);
}
/*
END MODERNIZE
*/
/*
COMO-FUNCIONA 
*/
.como-funciona {
  padding: 5rem;
  background: var(--light-gray);
}
.como-funciona .boxes {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.como-funciona .boxes .box {
  width: 25rem;
  background-color: var(--blue);
  border-radius: 0.7rem;
  padding: 2rem;
  filter: var(--shadow);
}
.como-funciona .boxes .box span {
  font-family: var(--pop);
  font-weight: var(--font-regular);
  color: var(--green);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  display: block;
}
.como-funciona .boxes .box h3 {
  color: var(--white);
}
.como-funciona .boxes .box p {
  margin-bottom: 0;
}
/*
END COMO-FUNCIONA
*/
/*
VIDEO-SOBRE
*/
.video-sobre {
  background-image: url('/bg-video.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20rem auto;
  padding: 3rem 0;
}
.video-sobre .row {
  width: 70rem;
  margin: 0 auto;
}
/*
END VIDEO-SOBRE
*/
/*
FORNECEDOR
*/
.fornecedor .row {
  display: grid;
  justify-content: center;
  grid-template-columns: 25rem auto;
}
.fornecedor .section-image img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.fornecedor h2 {
  margin-top: 4rem;
  text-align: start;
  margin-bottom: 0;
}
.fornecedor h2::after {
  display: none;
}
.fornecedor h2::before {
  display: none;
}
/*
END FORNECEDOR
*/
/*
PARCEIROS
*/
.parceiros {
  background: var(--light-gray);
  padding: 4rem 0;
}
.parceiros .swiper-parceiros {
  position: relative;
  padding: 4rem;
}
.parceiros .swiper-parceiros .swiper-button-prev,
.parceiros .swiper-parceiros .swiper-button-next {
  height: 3rem;
  width: 3rem;
}
.parceiros .swiper-parceiros .swiper-button-next {
  rotate: 180deg;
}
.parceiros .swiper-parceiros .icone-parceiro {
  padding: 2rem;
  display: flex;
  justify-content: center;
  height: 15rem;
  align-items: center;
  filter: grayscale(1);
}
.parceiros .swiper-parceiros .icone-parceiro:hover {
  filter: grayscale(0);
}
.parceiros .swiper-parceiros .icone-parceiro img {
  max-width: 100%;
  max-height: 100%;
}
/*
END PARCEIROS
*/
/*
FAQ
*/
.faq {
  padding: 4rem 0;
}
.faq .row {
  margin: 0 auto;
  width: 70rem;
}
/*
END FAQ
*/
/*
FOOTER
*/
footer {
  background-color: #170e47;
  padding: 5rem 0;
}
footer .row {
  display: flex;
  justify-content: space-between;
}
footer .logo img {
  height: 5rem;
  margin-bottom: 3rem;
}
footer .about {
  width: 40rem;
}
footer .about p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
footer .about a.email {
  color: var(--white);
  margin-top: 3rem;
  font-family: var(--pop);
}
footer .social {
  width: 15rem;
}
footer .social-list {
  list-style: none;
  display: flex;
  gap: 0.7rem;
}
footer .social-list img {
  width: 3rem;
  margin-bottom: 2rem;
}
footer .social p {
  font-size: 1.2rem;
}
/*
END FOOTER
*/
@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  h1 {
    font-size: 3rem;
  }
  .fornecedor .row {
    grid-template-columns: 25rem 55rem;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .hero .floating-button {
    height: 6rem;
    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
  }
  .hero .section-image .icon-dollar-1 {
    top: 22%;
    left: 8%;
  }
  .porque .boxes .box {
    width: 33rem;
  }
  .fornecedor .row {
    grid-template-columns: 25rem 40rem;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  header.menu .btn-mobile-menu {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  header.menu .btn-mobile-menu div {
    width: 3.9rem;
    height: 0.4rem;
    border-radius: 20px;
    background: var(--green);
    transition: 0.6s;
  }
  header.menu .btn-mobile-menu.active div:nth-child(1) {
    transform: translate(0px, 11px) rotateZ(45deg);
  }
  header.menu .btn-mobile-menu.active div:nth-child(2) {
    transform: scaleX(0);
  }
  header.menu .btn-mobile-menu.active div:nth-child(3) {
    transform: translate(0px, -11px) rotateZ(-45deg);
  }
  header.menu nav ul {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    top: 9.2rem;
    right: 0;
    background: var(--blue);
    height: 0;
    transition: 0.6s all ease-in-out;
    visibility: hidden;
    overflow: hidden;
    z-index: 99;
  }
  header.menu nav.active ul {
    height: calc(100vh - 9.2rem);
    visibility: visible;
  }
  header.menu nav li a {
    padding: 1rem 2rem;
  }
  .hero .row {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .hero .content h1 {
    text-align: center;
  }
  .hero .content p {
    width: 100%;
    text-align: center;
  }
  .hero .content .btn-green {
    margin: 0 auto;
  }
  .modernize .row {
    grid-template-columns: 1fr;
  }
  .modernize .content {
    order: 1;
  }
  .modernize .section-image {
    order: 2;
  }
  .video-sobre .row {
    width: 100%;
  }
  .como-funciona .boxes {
    flex-wrap: wrap;
  }
  .como-funciona .boxes .box {
    width: 33rem;
  }
  .fornecedor .row {
    grid-template-columns: 25rem 1fr;
  }
  .faq .row {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 400px;
    box-sizing: border-box;
    padding: 0 1rem;
  }
  h1 {
    font-size: 2.6rem;
  }
  header.menu a.logo img {
    height: 4rem;
  }
  header.menu nav ul {
    top: 8.2rem;
  }
  header.menu nav.active ul {
    height: calc(100vh - 8.2rem);
  }
  .porque .boxes .box {
    width: 100%;
  }
  .porque .boxes {
    gap: 2rem;
  }
  .video-sobre {
    background-position: -20% center;
  }
  .como-funciona {
    padding: 5rem 0;
  }
  .fornecedor .row {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .fornecedor h2 {
    text-align: center;
  }
  .fornecedor .btn-green {
    margin: 0 auto;
  }
  footer .row {
    flex-direction: column;
    gap: 3rem;
  }
  footer .about {
    width: 100%;
  }
  footer .social {
    width: 100%;
  }
  footer .social-list {
    justify-content: center;
  }
  footer .social p {
    text-align: center;
  }
}
@media (max-width: 400px) {
}
